/* ReactTab */

/* About us */
.aboutUs {
  max-width: 1000px;
  letter-spacing: 0.5px;
  line-height: 28px;
}

/* Skills */
.skillsContainer {
  max-width: 950px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 10px;
}
.icons {
  width: 100px;
  height: 110px;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  object-fit: contain;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 1px 1px 4px gray, -1px -1px 4px gray;
  perspective: 700px;
}
.icons:hover,
.icons:active {
  transform: rotate(10deg);
  box-shadow: 3px 3px 7px gray;
}

/* Projectes */
.projectArea {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
}
.videoImage {
  width: 300px;
  transition: all 0.5s ease;
  margin: 10px;
  border-radius: 15px;
}
.videoImage:hover,
.videoImage:active {
  opacity: 0.7;
  transform: scale(1.1);
}

/* responsive */
@media (max-width: 600px) {
  .skillsContainer {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
}
@media (max-width: 500px) {
  /* About us */
  .aboutUs {
    font-size: 14px;
    line-height: 22px;
  }
  .icons {
    width: 100px;
    height: 110px;
  }
}

@media (max-width: 400px) {
  .icons {
    width: 80px;
    height: 90px;
  }
  .skillsContainer {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
  .videoImage {
    width: 250px;
  }
}
