.container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.circle {
  z-index: 20;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  pointer-events: none;
  animation: expand 1s ease-out;
}

@keyframes expand {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}
