.Projects_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin-bottom: 150px;
  flex-wrap: wrap;
}

.project_image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 7px;
  padding: 5px;
  box-shadow: 4px 8px 8px gray;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}
.project_image:hover {
  transform: scale(1.1);
}

.Projects_desc {
  width: 100%;
  font-size: clamp(15px, 2vw, 20px);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media (min-width: 768px) {
  .Projects_container {
    flex-wrap: wrap;
  }
  .project_image {
    width: 450px;
    height: 350px;
  }
  .Projects_desc {
    width: 600px;
  }
}

@media (max-width: 767px) {
  .project_image,
  .Projects_desc {
    width: 80%;
  }
  .Projects_container {
    margin-bottom: 90px;
  }
}

.alt_layout:nth-child(even) .project_image {
  order: 2;
}

.alt_layout:nth-child(even) .Projects_desc {
  order: 1;
}
.alt_layout {
  flex-wrap: wrap-reverse;
}
