/* .marquee {
  min-height: 70vh;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.track {
  display: flex;
  width: calc(200%);
  animation: marquee 10s linear infinite;
  gap: 40px;
}

.certificate {
  padding: 7px;
  perspective: 800px;
}

.image {
  display: block;
  width: 300px;
  margin: 7px;
  transition: all 0.5s ease;
  transform: rotateX(60deg);
}

.image:hover {
  opacity: 0.7;
  transform: rotate(0deg);
}

@media (max-width: 700px) {
  .marquee {
    min-height: 50vh;
  }
  .image {
    width: 200px;
  }
}

@media (max-width: 400px) {
  .image {
    width: 150px;
  }
  .marquee {
    min-height: 40vh;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.paused .track {
  animation-play-state: paused;
} */
.marquee {
  min-height: 70vh;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.track {
  display: flex;
  width: calc(200%);
  animation: marquee 10s linear infinite;
  gap: 50px;
}

.certificate {
  padding: 7px;
  perspective: 800px;
}

.image {
  display: block;
  width: 300px;
  margin: 7px;
  transition: all 0.5s ease;
  transform: rotateX(60deg);
}

.image:hover {
  opacity: 0.7;
  transform: rotate(0deg);
}

@media (max-width: 700px) {
  .marquee {
    min-height: 50vh;
  }
  .image {
    width: 200px;
  }
  .track {
    gap: 30px;
    animation: marquee 5s linear infinite;
  }
}

@media (max-width: 400px) {
  .image {
    width: 150px;
  }
  .marquee {
    min-height: 40vh;
  }
  .track {
    gap: 20px;
    animation: marquee 5s linear infinite;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.paused .track {
  animation-play-state: paused;
}
